# 필요 라이브러리

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 오류 메세지 안뜨게
import warnings
warnings.filterwarnings(action='ignore')

#  raw data 간단한 전처리 진행하기

In [2]:
os.listdir()

['.ipynb_checkpoints',
 '1. Basic EDA.ipynb',
 '2. Deep EDA & Feature Engineering.ipynb',
 '3. Basic file trimming.ipynb',
 'adult_data.csv',
 'adult_names.txt',
 'adult_test.csv']

## 열 설정

In [3]:
train = pd.read_csv("adult_data.csv")
train.columns = ['age', 'workclass', 'fnlwgt', 'education', 
                 'education_num', 'marital_status', 'occupation',
                 'relationship', 'race' ,'sex' ,'capital_gain', 
                 'capital_loss', 'hours_per_week', 'native_country','income']
test =  pd.read_csv("adult_test.csv")
test.columns =  ['age', 'workclass', 'fnlwgt', 'education', 
                 'education_num', 'marital_status', 'occupation',
                 'relationship', 'race' ,'sex' ,'capital_gain', 
                 'capital_loss', 'hours_per_week', 'native_country','income']

## object value값 앞 공백 삭제하기

In [4]:
#object 값에서 앞에 공백이 발생함을 확인함
train.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [5]:
train[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]] = \
train[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]].applymap(lambda x : x.lstrip())

In [6]:
test[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]] = \
test[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]].applymap(lambda x : x.lstrip())

In [7]:
# 잘 처리되었나 확인
train.workclass.unique()

array(['Self-emp-not-inc', 'Private', 'State-gov', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [8]:
test.workclass.unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

## 문자열 값에서 하이픈'-'을 언더바'_'로 바꾸기

In [14]:
train.education.str.replace("-","_").unique()

array(['Bachelors', 'HS_grad', '11th', 'Masters', '9th', 'Some_college',
       'Assoc_acdm', 'Assoc_voc', '7th_8th', 'Doctorate', 'Prof_school',
       '5th_6th', '10th', '1st_4th', 'Preschool', '12th'], dtype=object)

In [21]:
train[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]] = \
train[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]].applymap(lambda x: x.replace("-","_"))

train.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self_emp_not_inc,83311,Bachelors,13,Married_civ_spouse,Exec_managerial,Husband,White,Male,0,0,13,United_States,<=50K
1,38,Private,215646,HS_grad,9,Divorced,Handlers_cleaners,Not_in_family,White,Male,0,0,40,United_States,<=50K
2,53,Private,234721,11th,7,Married_civ_spouse,Handlers_cleaners,Husband,Black,Male,0,0,40,United_States,<=50K
3,28,Private,338409,Bachelors,13,Married_civ_spouse,Prof_specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married_civ_spouse,Exec_managerial,Wife,White,Female,0,0,40,United_States,<=50K

In [22]:
test[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]] = \
test[["workclass","education","marital_status","occupation",
       "relationship","race","sex","native_country"]].applymap(lambda x: x.replace("-","_"))

test.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,38,Private,89814,HS_grad,9,Married_civ_spouse,Farming_fishing,Husband,White,Male,0,0,50,United_States,<=50K.
1,28,Local_gov,336951,Assoc_acdm,12,Married_civ_spouse,Protective_serv,Husband,White,Male,0,0,40,United_States,>50K.
2,44,Private,160323,Some_college,10,Married_civ_spouse,Machine_op_inspct,Husband,Black,Male,7688,0,40,United_States,>50K.
3,18,?,103497,Some_college,10,Never_married,?,Own_child,White,Female,0,0,30,United_States,<=50K.
4,34,Private,198693,10th,6,Never_married,Other_service,Not_in_family,White,Male,0,0,30,United_States,<=50K.

## income열 값에서 공백없애기

In [23]:
train.income.unique()

array([' <=50K', ' >50K'], dtype=object)

In [39]:
train.income = train.income.replace([' <=50K', ' >50K'],['<=50K', '>50K'])
test.income = test.income.replace([' <=50K', ' >50K'],['<=50K', '>50K'])

In [38]:
train.income.unique()

array(['<=50K', '>50K'], dtype=object)

# csv로 저장하기

In [40]:
train.to_csv("train.csv")
test.to_csv("test.csv")

In [41]:
os.listdir()

['.ipynb_checkpoints',
 '1. Basic EDA.ipynb',
 '2. Deep EDA & Feature Engineering.ipynb',
 '3. Basic file trimming.ipynb',
 'adult_data.csv',
 'adult_names.txt',
 'adult_test.csv',
 'test.csv',
 'train.csv']